.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
}

.LogoBox {
  margin-bottom: 2vh;
}

.LogoBox h1 {
  font-size: 5vh;
  color: white;
  text-align: center;
}

.InputBox {
  width: 30vh;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.input-group {
  margin-bottom: 2vh;
}

.input-group input {
  width: 100%;
  padding: 1vh;
  box-sizing: border-box;
  border: 0.1vh solid #ddd;
  border-radius: 1vh;
}

.login-btn {
  width: 100%;
  padding: 1vh;
  background-color: #40465b;
  border: none;
  border-radius: 1vh;
  color: white;
  font-size: 2vh;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #4d5571;
}

.SignUpBox {
  margin-top: 1vh;
}

.SignUpBox p {
  color: #555;
  text-align: center;
}

.SignUpBox span {
  color: #606e9e;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.SignUpBox span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.signup-btn {
  width: 100%;
  padding: 1vh;
  background-color: #40465b;
  border: none;
  border-radius: 1vh;
  color: white;
  font-size: 2vh;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #4d5571;
}

.error-message {
  color: red;
  font-size: 1.5vh;
  margin-top: -1.5vh;
  margin-bottom: 1.5vh;
}

