

.PlayBar
{
    width : 100%;
    display: flex;
    align-items : center;
    justify-content: center;
}

.audios
{
    display: block;
}

.RangeBarBox
{
    width: 38vh;
}


.PlayControl
{
    width: 100%;
    margin-top: 2vh;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top
{
    color: white;
    width: 44vh;
    height: 5vh;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}

.button {
    width: 15vh;
    background-color: transparent;
    border: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}



.bottom
{
    color: white;
    width: 44vh;
    height: 5vh;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}



.trackBtn
{
}

.trackBtn:hover
{
    cursor: pointer;
}







