.MusicPlayer {
    width: 100%;
    height: 100%;
    padding: 2vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #2e313d;
    /* 플레이어 내부 패딩 조절 하려면 여기 */
}

.playerHeader {
    height: 11.5vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.HeaderBtn {
    width: 40vh;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: row;
}

.rightarrowBtn {
    margin-right: auto;
    display: flex;
}

.rightarrowBtn:hover {
    cursor: pointer;
}

.menuBtn {}

.MainBox {
    flex-grow: 1;
    box-sizing: border-box;
    margin-top: 4vh;
}

.AlbumBox {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.ThumbNail {
    width: 36vh;
    height: 40vh;
    background-color: #000000;
    border-radius: 2vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ThumbNail img {
    width: 100%;
    object-fit: cover;
}

.AlbumInfoBox {
    text-align: center;
    margin-top: 3vh;
    box-sizing: border-box;
}

.AlbumName {
    font-weight: bold;
    font-size: 2.5vh;
}

.ControlBox {
    height: 40%;
    margin-top: 2vh;
    box-sizing: border-box;
}

.PlayListModal {
    animation: slide-up 0.5s ease-out forwards;

}

.playlistHeader {
    display: flex;
    flex-direction: column;
}

.playlistTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.MusicTitle, .MusicArtist {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 최대 줄 수 */
    -webkit-box-orient: vertical;
    line-height: 1.2em; /* 줄 높이 */
    max-height: 2.4em; /* 최대 높이: 줄 높이 * 최대 줄 수 */
  }

.playlistHeader {
    width: 44vh;
    display: flex;
    align-items: center;
    margin-top: 5vh;
}

.playlistHeader h1 {
    margin-right: auto;
}

.playlistBtn:hover {
    cursor: pointer;
}


@keyframes slide-up {
    0% {
        transform: translateY(600%);
    }

    100% {
        transform: translateY(0);
    }
}




@media (min-width: 800px) {

    .rightarrowBtn {
        display: none;
    }

    

}